# VITE_MINIMAX_API_KEY: 你的 MiniMax API 令牌密钥
VITE_MINIMAX_API_KEY="YOUR_API_KEY"

# VITE_MINIMAX_MODEL: 想要使用的内部大模型名，如 MiniMax-M2.7
VITE_MINIMAX_MODEL="MiniMax-M2.7"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"
